.Title{
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 5rem;
    margin: 0 auto;
    font-weight: 900;
}

.container{
    padding-top: 3rem;
    position: relative;
    width: "100%";
    margin:0;
    z-index: 1;
}

.wrapper {
  margin: auto!important;
  max-width: 720px;
}