.padding{
  padding-top:20px;
  padding-bottom:20px;
}
.row{
  flex-direction: row;
  display: flex!important;
}
.end{
  justify-self: flex-end;
}


.unsetImg{
  min-width: 150px;
  max-height: 100px;
}

.customImg{
  width: 100% !important;
  position: relative !important;

}
